{% extends 'base.html' %}{% load static %}
{% block home %}
    <section class="mb-5">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="title-box mb-2">
                        <p class="m-0 pt-2"><span class="text-primary">خطا</span></p>
                        <span class="d-block"><a href="{% url 'homeView' %}">بازگشت به صفحه اصلی</a> <i
                                class="bi bi-arrow-left position-relative"></i></span>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <div class="not-found bg-white rounded border p-3 pb-5">
                        <h4> متاسفانه شما اشتراک ویژه ندارید و یا رمان مورد نظر را خریداری نکرده اید.</h4>
                        <br >
                        <h5>    برای اینکه بتوانید در مسابقانه شرکت کنید باید اشتراک ویژه داشته باشید یا رمان مورد نظر را خریداری کرده باشید.</h5>

                        <p class="m-0">متاسفانه محتوا مد نظر یافت نشد !</p>
                        <span class="d-block my-3">بازگشت به <a href="{% url 'homeView' %}">صفحه اصلی</a> سایت</span>
                        <div class="search-box px-0 px-md-5 mt-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}