<!DOCTYPE html>
<html lang="fa" dir="rtl">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/bootstrap-icons.css">
      <link rel="stylesheet" href="css/owl.carousel.css">
      <link rel="stylesheet" href="css/owl.theme.default.css">
      <link rel="stylesheet" href="style.css">
      <title>برگه سایت</title>
   </head>
   <body>
      <header>
         <div class="index-top position-relative w-100 bg-white">
            <div class="main-menu">
               <div class="container">
                  <div class="row">
                     <div class="col-md-2 col-3">
                        <img src="img/logo.png" alt="" height="30px" style="object-fit: contain;margin-top:18px;filter: grayscale(1);">
                     </div>
                     <div class="col-md-7 col-5 pt-2">
                        <nav class="navbar navbar-expand-lg navbar-light">
                           <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                              aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse"
                              id="navbarSupportedContent">
                              <ul class="navbar-nav mb-2 mb-lg-0">
                                 <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">خانه</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">مقالات</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#" tabindex="-1"
                                       aria-disabled="true">تماس با ما</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#" tabindex="-1"
                                       aria-disabled="true">درباره</a>
                                 </li>
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    دسته بندی ها
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                       <li><a class="dropdown-item" href="#">مجله فرهنگی</a></li>
                                       <li><a class="dropdown-item" href="#">مطالب ویدئویی</a></li>
                                       <li>
                                          <hr class="dropdown-divider">
                                       </li>
                                       <li><a class="dropdown-item" href="#">ارسالی مخاطبین</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                     <div class="col-md-3 col-4 text-start">
                        <div class="top-account">
                           <a href="#" class="text-dark"><i class="bi bi-person"></i></a>
                           <a href="#" class="text-dark"><i class="bi bi-gem"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="breadcrumb-wrap p-3 bg-white my-4 rounded">
                  <nav>
                     <ol class="d-flex">
                        <li><a href="#">خانه</a></li>
                        <li>عنوان برگه</li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </div>
      <section class="mb-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-9">
                  <article>
                     <div class="section-top-single bg-white rounded p-3">
                        <div class="row">
                           <div class="col-md-7">
                              <figure>
                                 <img src="img/blog/podcast.jpg" alt="" class="img-thumbnail d-table mx-auto">
                              </figure>
                           </div>
                           <div class="col-md-5">
                              <div class="border rounded p-3 mb-3">
                                 <h1 class="border-bottom"> چرا قالب های ما رایگان هستند ؟</h1>
                                 <ul class="detail-single d-flex">
                                    <li><i class="bi bi-clock p-1"></i>&nbsp;22 مرداد</li>
                                 </ul>
                                 <div class="text-start">
                                    <span><i class="bi bi-chat"></i> 12 دیدگاه</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="content-single rounded bg-white p-3 mt-3">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                        <img src="img/blog/buisiness.jpg" alt="">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                        <p> کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                     </div>
                     <div class="rounded bg-white p-3 mt-3">
                        <div class="comments-box">
                           <div class="cm-parent rounded bg-light p-3 mb-3">
                              <div class="row">
                                 <div class="col-1">
                                    <img src="img/userAvatar.png" alt="">
                                 </div>
                                 <div class="col-11">
                                    <p><span class="d-inline-block text-primary ps-2">جواهری :</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <div class="text-start">
                                       <span class="d-inline-block mt-2 py-1 text-info px-2">
                                       <i class="bi bi-calendar2-event"></i> 23 مرداد
                                       </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="cm-chlid me-5 border border-dark-50 rounded p-3 mb-3">
                              <div class="row">
                                 <div class="col-1">
                                    <img src="img/userAvatar.png" alt="">
                                 </div>
                                 <div class="col-11">
                                    <p><span class="d-inline-block text-primary ps-2">مدیر سایت :</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <div class="text-start">
                                       <span class="d-inline-block mt-2 py-1 text-info px-2">
                                       <i class="bi bi-calendar2-event"></i> 23 مرداد
                                       </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="cm-parent rounded bg-light p-3 mb-3">
                              <div class="row">
                                 <div class="col-1">
                                    <img src="img/userAvatar.png" alt="">
                                 </div>
                                 <div class="col-11">
                                    <p><span class="d-inline-block text-primary ps-2">Farzad :</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <div class="text-start">
                                       <span class="d-inline-block mt-2 py-1 text-info px-2">
                                       <i class="bi bi-calendar2-event"></i> 23 مرداد
                                       </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="cm-chlid me-5 border border-dark-50 rounded p-3 mb-3">
                              <div class="row">
                                 <div class="col-1">
                                    <img src="img/userAvatar.png" alt="">
                                 </div>
                                 <div class="col-11">
                                    <p><span class="d-inline-block text-primary ps-2">امید :</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <div class="text-start">
                                       <span class="d-inline-block mt-2 py-1 text-info px-2">
                                       <i class="bi bi-calendar2-event"></i> 23 مرداد
                                       </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="comment-form-rules mb-3 mt-5">
                           <div class="row">
                              <div class="col-md-6">
                                 <form class="comment-form">
                                    <h6 class=" pb-3 border-bottom mb-3"><i class="bi bi-chat-right-text"></i> در بهبود مقاله شریک باشید</h6>
                                    <div class="row">
                                       <div class="col-12 mb-2">
                                          <input type="email"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ایمیل شما (الزامی)">
                                       </div>
                                       <div class="col-12 mb-2">
                                          <input type="text" id="exampleInput" placeholder="نام شما">
                                       </div>
                                    </div>
                                    <div class="col-12"><textarea class=" w-100" rows="5"></textarea></div>
                                    <div class="text-start">
                                       <button type="submit">ارسال</button>
                                    </div>
                                 </form>
                              </div>
                              <div class="col-md-6">
                                 <div class="commemt-rules">
                                    <h6 class=" pb-3 border-bottom mb-3"><i class="bi bi-chat-right-text"></i> قوانین ارسال دیدگاه</h6>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </article>
               </div>
               <div class="col-lg-3 mt-4 mt-lg-0">
                  <aside>
                     <div class="sidebar-wrap">
                        <div class="side-box-cats bg-white rounded p-3 mb-3">
                           <span class="d-block my-3 border-right title position-relative"><i class="bi bi-chat-right-text"></i> مطالب اخیر</span>
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item"><a href="#">چرا باید به فکر کاهش وزن بود ؟</a></li>
                              <li class="list-group-item"><a href="#">چگونه بدون سرمایه میلیاردر شدم</a></li>
                              <li class="list-group-item"><a href="#">خرید آیفون 10 یا نوت ؟</a></li>
                              <li class="list-group-item"><a href="#">برای سلامتی اولین قدم را بردار</a></li>
                              <li class="list-group-item"><a href="#">10 مقاله برتر در زمینه مراقبت پوست</a></li>
                              <li class="list-group-item"><a href="#">چگونه بدون سرمایه میلیاردر شدم</a></li>
                              <li class="list-group-item"><a href="#">خرید آیفون 10 یا نوت ؟</a></li>
                              <li class="list-group-item"><a href="#">برای سلامتی اولین قدم را بردار</a></li>
                           </ul>
                        </div>
                        <div class="side-box-cats bg-white rounded p-3 mb-3">
                           <span class="d-block my-3 border-right title position-relative"><i class="bi bi-archive"></i> دسته بندی</span>
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item"><a href="#"> اینستاگرام</a><span class="counter">32</span></li>
                              <li class="list-group-item"><a href="#"> طراحی سایت</a><span class="counter">12</span></li>
                              <li class="list-group-item"><a href="#"> مجله روز</a><span class="counter">112</span></li>
                              <li class="list-group-item"><a href="#"> گزارش تصویری</a><span class="counter">12</span></li>
                              <li class="list-group-item"><a href="#"> سینما</a><span class="counter">2</span></li>
                           </ul>
                        </div>
                     </div>
                  </aside>
               </div>
            </div>
         </div>
      </section>
      <footer class="bg-white py-4 text-center">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <ul class="d-flex justify-content-center social-bx">
                     <li class="p-2 m-1"><a href="#"><i class="bi bi-instagram"></i></a></li>
                     <li class="p-2 m-1"><a href="#"><i class="bi bi-twitter"></i></a></li>
                     <li class="p-2 m-1"><a href="#"><i class="bi bi-facebook"></i></a></li>
                  </ul>
               </div>
               <div class="col-12">
                  <p>قالب وبلاگی سئو 90 رایگان</p>
                  <p class="mb-0">&copy; حقوق انتشار برای مجموعه محفوظ است</p>
               </div>
            </div>
         </div>
      </footer>
      <div class="scroll_top">
         <span class="btn btn-info text-center text-light">
         <i class="bi bi-arrow-up"></i>
         </span>
      </div>
      <script src="js/jQuery.js"></script>
      <script src="js/popper.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/owl.carousel.js"></script>
      <script src="js/index.js"></script>
      <script src="https://seo90.ir/downloads/category/html-theme/"></script>
   </body>
   
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L2W3M8F38X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L2W3M8F38X');
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWRLRJ7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</html>