{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">


<link rel="stylesheet" media="screen" href="{% static 'prof/vendor/simplebar/dist/simplebar.min.css' %}"/>
<link rel="stylesheet" media="screen"
      href="{% static 'prof/vendor/persain-date/persian-datepicker.min.css' %}"/>
<link rel="stylesheet" media="screen" href="{% static 'prof/css/theme.min.css' %}"/>
<link rel="icon" href="{% static 'img/21.png' %}" type="image/png">










<script src="{% static 'prof/js/theme.min.js' %}"></script>
<script src="{% static 'prof/vendor/persain-date/persian-datepicker.min.js' %}"></script>
<script src="{% static 'vendor/persain-date/persian-date.js' %}"></script>
<script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-3.6.0.js' %}"></script>